body {
  background-color: #C25100;
}

#header {
    margin: 2em;
    padding: 0;

}

.post {
  margin: 1em;
  padding: 1em 2em;
  background-color: white;
  border-radius: 1em;
}

.post_title {
  padding-bottom: 4px;
  border-bottom: 3px solid #C25100;
  border-bottom-right-radius: 0.5em;
  color: #C25100;
  font-size: 2.5em;
}

.post_date {
  font-style: italic;
  font-size: 1em;
}

.post_text {
  font-size: 1.5em;
}

h1 {
  color: white;
  font-size: 5em;
  font-family: 'Righteous', cursive;
}
